/* styles.css */
.DogList div {
  margin: 20px;
  display: inline-block;
}

.DogDetails img {
  width: 300px;
}

.DogDetails ul {
  list-style: none;
  padding: 0;
}

.DogDetails li {
  margin: 5px 0;
}
